@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}
.product{
	width: 100wh;
	height: 100vh;
	background-color: #31EC8D;
	display:flex;
	justify-content: center;
	align-items: center;
}
.product__photo{
	width: 250px;
	height: 400px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 10px gray;
    position: relative;
    right: 30px;
}
.photo-main img{
	width: 280px;
	object-fit: cover;
	position: relative;
	right: 50px;
    bottom: 30px;
}
.photo-main{
	background-color: #BCCF33;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: inset 0px 0px 80px rgba(160, 237, 98, 1);
}
.controls{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	color: white;
}
.photo-container{
	display: flex;
	flex-direction: column;
}
.photo-album ul{
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
}
.photo-album ul li img{
	border:1px solid lightgray;
	border-radius: 5px;
}
li{
	list-style: none;
}
.photo-album img{
	width: 45px;
}
.wrapper{
	background-color: white;
	width: 550px;
	height: 450px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 2px;
	position: relative;
    left: 25px;
}
h1{
    color: #414a4c;
    font-size: 24px;
}
.title span{
    font-size: 12px;
    color: gray;
    position: relative;
    bottom: 5px;
}
.price{
    color: red;
    padding-top: 20px;
    padding-bottom: 30px;
}
.price span{
    font-size: 36px;
    position: relative;
    top: 4px;
}
h3{
    color: gray;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.variant img{
    width: 40px;
    position: relative;
    left: 20px;
}
.first_img img{
    border: 1px solid lightgray;
    border-radius: 2px;
}
.variant ul{
    display: flex;
    gap: 5px;
}
ul li p{
    font-size: 12px;
    padding: 2px;
}
.description li{
    list-style: disc;
    position: relative;
    left: 40px;
}
button{
    margin-top: 10px;
    font-size: 12px;
    background-color: #ff374e;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 30px;
    box-shadow: 0px 0px 2px 2px #ff374e;
}
